* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: #0084fd;
    width: 100%;
}

footer {
    width: 100%;
    background-color: #333333;
    min-height: 100px;
}

.container {
    max-width: 960px;
    margin: auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.menu-bar {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.btn-start {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 15px;
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
}

.col-1 {
    flex-basis: calc((100% - 40px) / 3);
}

.col-2 {
    flex-basis: calc(((100% - 20px) / 3) * 2);
}

.card {
    /* SOLO PER DEBUG */
    background-color: red;
    border-radius: 1rem;
    min-height: 100px;
}

.bg-violet {
    background-color: #9792e4;
}

.bg-lb {
    background-color: #b5ddff;
    border-radius: 10px;
}

.demo-snippet {
    display: flex;
    gap: 50px;
}

.demo-text {
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}

.title-blue {
    color: #0084fd;
}

.apple-btn {
    background-color: #0084fd;
    color: white;
    padding: 8px 30px;
    border-radius: 10px;
}

.phone-snippet {
    width: 30%;
}

.flex-first-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 30px 20px;
    color: #0084fd;
}

.container-less {
    max-width: 700px;
    margin: auto;
}

.row-less {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 70px;
}

.plan-1 {
    display: flex;
    flex-direction: column;
    gap: 70px;
    color: white;
}

.img-plan {
    width: 100%;
}

.plan-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-radius: 30px;
    margin-top: 50px;
    padding: 50px;
}

.btn-small-violet {
    background-color: #9792e4;
    padding: 10px;
    border-radius: 50%;
}

.partner-pres {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.font-small {
    font-size: 14px;
    text-align: center;
}

.title-violet {
    color: #9792e4
}

.partner {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #9792e4;
    color: white;
    border-radius: 20px;
    margin: 20px 0;
}

.partner-img {
    display: flex;
    justify-content: center;
}

.partner-photo {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.partner-quote {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
}

.last-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.last-sec {
    min-height: 50px;
    min-width: 50px;
    background-color: red;
}